@model Practica3.Web.Models.Alumno
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
<br />
<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MunicipiosNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MunicipiosNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AddMunicipio" asp-route-id="@Model.Id" class="btn btnprimary"><i class="fas fa-plus"></i>Municipio</a>

    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Municipios</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped"  id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model =>
                                model.Municipios.FirstOrDefault().Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model =>
                                model.Municipios.FirstOrDefault().BarriosNumber)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Municipios)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BarriosNumber)
                                </td>
                                <td>
                                    <a asp-action="EditMunicipio" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                    <a asp-action="DetailsMunicipio" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-align-justify"></i></a>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="_DeleteDialog" />
@section Scripts {
 @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="/js/deleteDialog.js"></script>
<script type="text/javascript">
     $(document).ready(function () {
     $('#MyTable').DataTable();
     // Delete item
     sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Alumnos/DeleteMunicipio/', false);
     });
</script>
}